<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510743131784-eg9aalv92ur15ahhg3k6d08tt58ltcug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510743131784-eg9aalv92ur15ahhg3k6d08tt58ltcug</string>
	<key>API_KEY</key>
	<string>AIzaSyBqh7YVcyCUPq5DMYDgO8x1iMl5TYSkzAg</string>
	<key>GCM_SENDER_ID</key>
	<string>510743131784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pz.FitNote</string>
	<key>PROJECT_ID</key>
	<string>fitnote-d8531</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnote-d8531.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510743131784:ios:1cdafa7eeb9d0192fc513d</string>
</dict>
</plist>